{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Recommendation System</title>

    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/recommendations.css' %}">

    <script defer src="{% static 'scripts/jquery-3.5.1.slim.min.js' %}"></script>
    <script defer src="{% static 'scripts/bootstrap.min.js' %}"></script>
</head>

<body>
    {% include 'snippets/header.html' %}

    <div id="recommendations">
        <div class="other-recommendations">
            {% include 'snippets/recommendations.html' with videos=videos %}
        </div>
    </div>
</body>
</html>
