#recommendations {
    --width: 80vw;
    width: var(--width);
    max-width: 2000px;
    
    margin: 50px auto;
}

.channel-recommendations,
.other-recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#other-recommendations-h2 {
    margin-top: 20px;
}

.video-card {
    margin: 5px;
    width: 250px;
}
.video-card img {
    width: 250px;
    margin-bottom: 3px;
}
.video-card a {
    color: black;
    text-decoration: none;
}
.video-card h5 {
    margin: 0;
}
